%h2 Totals
%table{:cellspacing => '0', :cellpadding => '0'}
  %tr
    - @totals.keys.each do |k|
      %th= k.titleize
    %th Attending
    %th Not Attending
  %tr
    - @totals.keys.each do |k|
      %td= @totals[k]
    %td= Rsvp.where(:attend => true).size
    %td= Rsvp.where(:attend => false).size

%h2 Invidual RSVPs

%table{:cellspacing => '0', :cellpadding => '0'}
  %tr
    %th.col1 Last Name
    %th.col2 First Name
    %th.col3 Attending
    %th.col4 Meal Choice
    %th.col5 Considerations
    %th.col6 RSVPed at
  - @rsvps.each_with_index do |rsvp, i|
    %tr{:class => i % 2 == 0 ? 'alt' : ''}
      %td.col1 #{rsvp.last_name}
      %td.col2 #{rsvp.first_name}
      %td.center-align= rsvp.attend
      %td.center-align= rsvp.meal_choice
      %td!= !rsvp.considerations.blank? ? rsvp.considerations : '&nbsp;'
      %td.col6= rsvp.updated_at
